/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* so true oomfies */

:root {
    --dark: rgba(30, 30, 38, 0.86);
    --darker: rgb(47, 47, 55);
	--semi-transparent-white: rgba(255, 255, 255, 0.5);
	color: white;
}

.border {
	height: 1px;
	width: inherit;
	background-color: var(--semi-transparent-white)
}

.selected {
	background-color: rgba(255, 255, 255, 0.09);
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.project-section {
    background-color: var(--dark);
    flex: 1;
	padding: 2.5rem;
}

.project-section--header {
	font-weight: bold;
	font-size: 2.5rem;
}

.projects-ctner .item {
	cursor: pointer;
	border-radius: .33rem;
	font-size: 1.5rem;
}

.task-section {
	padding: 2.5rem;
    background-color: var(--darker);
    flex: 4;
	display: flex;
	flex-direction: column;
}

.selected-project__title {
	font-size: 4rem;
}

.selected-project__tasks-ctner {
	display: grid;
	gap: 12px;
}

.selected-project__task {
	height: 60px;
	padding: 0 .75rem;
	border: 1px solid var(--semi-transparent-white);
	border-radius: .33rem;
	display: flex;
	align-items: center;
	/* temp, this is used for add task btn design */
    justify-content: space-around;
}

.task--checkbox {
}

.task--title {
	flex: 3;
}

.task--date {
	flex: 1;
	display: flex;
	justify-content: center;
}

.task--edit {
	cursor: pointer;
}

.add-task-ctner {
	display: flex;
	flex-direction: column;
}

.add-task--btn {
	cursor: pointer;
	align-self: flex-end;
}